<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Quick_Paste_Tool.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Quick_Paste_Tool.Properties.Settings>
            <setting name="btn1_pref" serializeAs="String">
                <value>範本1;範本1的文字內容</value>
            </setting>
            <setting name="btn2_pref" serializeAs="String">
                <value>範本2;範本2的文字內容</value>
            </setting>
            <setting name="btn3_pref" serializeAs="String">
                <value>範本3;範本3的文字內容</value>
            </setting>
            <setting name="btn4_pref" serializeAs="String">
                <value>範本4;範本4的文字內容</value>
            </setting>
            <setting name="btn5_pref" serializeAs="String">
                <value>範本5;範本5的文字內容</value>
            </setting>
            <setting name="btn6_pref" serializeAs="String">
                <value>範本6;範本6的文字內容</value>
            </setting>
            <setting name="btn7_pref" serializeAs="String">
                <value>範本7;範本7的文字內容</value>
            </setting>
            <setting name="btn8_pref" serializeAs="String">
                <value>範本8;範本8的文字內容</value>
            </setting>
            <setting name="btn9_pref" serializeAs="String">
                <value>範本9;範本9的文字內容</value>
            </setting>
            <setting name="btn10_pref" serializeAs="String">
                <value>範本10;範本10的文字內容</value>
            </setting>
        </Quick_Paste_Tool.Properties.Settings>
    </userSettings>
</configuration>